header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  .margin-top-10{
    margin-top: 12px;
    width: -webkit-fill-available;
}